/*clr logo brief*/
/*beige*/
/*clr for buttons*/
/*header margin*/
/*smartphone screen size*/
/*mixin responsive*/
/*reinitit link*/
a {
  text-decoration: none;
  color: black;
}

body {
  max-width: 1200px;
  margin: auto;
}

/*HEADER START*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 120px;
  background-color: #f1cfea;
}

@media screen and (max-width: 576px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
  }
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.header__left:hover {
  text-decoration: none;
  color: black;
}

.header__left__logo {
  height: 50px;
}

.header__left__brand {
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .header__left__brand {
    margin: 5px 0 0 0;
  }
}

.header__right {
  margin-right: 50px;
  font-size: 1.5em;
}

@media screen and (max-width: 576px) {
  .header__right {
    margin: 0;
  }
}

.header__right:hover {
  text-decoration: none;
  color: #6e205e;
}

/*HEADER END*/
/*FOOTER START*/
.footer {
  height: 50px;
  background-color: #f1cfea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer__legal {
  font-size: 0.7em;
}

/*FOOTER END*/
/*MAIN START*/
.main__title {
  margin: 30px 10px;
}

.catalogue {
  width: 100%;
}

.catalogue__section__card__img {
  height: 220px;
  width: auto;
  margin: 5px;
}

.catalogue__section__card__text {
  padding: 10px;
}

.catalogue__section__card__text__name {
  font-size: 1.3em;
}

.catalogue__section__card__text__price {
  font-size: 1.3em;
}

.catalogue__section__card__btn {
  margin-bottom: 10px;
  border-radius: 10px;
  height: 30px;
  background-color: #d3ab91;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding: auto;
  font-size: 1em;
  font-weight: normal;
  -webkit-box-shadow: 2px 2px 2px #6d452b;
          box-shadow: 2px 2px 2px #6d452b;
}

.catalogue__section__card__btn:hover {
  background-color: #c48f6d;
  color: white;
}

/*MAIN END*/
.right_bloc__description .right_bloc__options__list__choice {
  font-size: 1em;
}

.panier_main__section__head {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panier_main__section__head__title {
  font-size: 3em;
}

.panier_main__section__head__button {
  border-radius: 5px;
  height: 50px;
  background-color: #b1275b;
  color: white;
  -webkit-box-shadow: 5px 5px 5px;
          box-shadow: 5px 5px 5px;
}

.panier_main__section__head__button:hover {
  background-color: #db2269;
}

.panier_main__section__basket__name {
  font-size: 1.2em;
}

.panier_main__section__basket__product__img {
  width: 150px;
}

.panier_main__aside__resume__div_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panier_main__aside__resume__div_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panier_main__aside__resume__div_port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panier_main__aside__resume__div_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panier_main__aside__form {
  font-size: 1em;
}
