$clr_header_bg:#f1cfea;

/*clr logo brief*/

$clr_secondary:#d3ab91;

/*beige*/


/*clr for buttons*/

$clr_button_suppr:#b1275b;
$clr_button_suppr--hover:#db2269;

/*header margin*/

$mrg_header:50px;

/*Responsive screen size*/

$media_size_smartphone:576px;
$media_size_tablet:768px;