$clr_header_bg:#f1cfea;

/*clr logo brief*/

$clr_secondary:#d3ab91;

/*beige*/


/*clr for modified elements by JS*/

$clr_js_modified: rgb(236, 60, 84);

/*header margin*/

$mrg_header:50px;

/*smartphone screen size*/

$media_size_smartphone:576px;