body {
    margin-left: 3%;
    margin-right: 3%;
}

.panier_main {
    @include responsive_tablet_smartphone_size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__section {
        @include responsive_tablet_smartphone_size {
            width: 90%;
        }
        &__head {
            font-size: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__title {
                font-size: 3em;
            }
            &__button {
                border-radius: 5px;
                height: 50px;
                background-color: $clr_button_suppr;
                color: white;
                box-shadow: 5px 5px 5px;
                &:hover {
                    background-color: $clr_button_suppr--hover;
                }
            }
        }
        &__basket {
            &__li {
                text-align: left;
                @include responsive_mobile_size {
                    text-align: center;
                }
            }
            &__name {
                font-size: 1.2em;
            }
            &__product {
                &__div {
                    @include responsive_mobile_size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                    }
                }
                &__img {
                    @include responsive_mobile_size {
                        height: 50%;
                        margin: auto;
                    }
                }
            }
        }
    }
    &__aside {
        @include responsive_tablet_smartphone_size {
            width: 90%;
        }
        &__resume {
            &__div_articles {
                display: flex;
                justify-content: space-between;
            }
            &__div_price {
                display: flex;
                justify-content: space-between;
            }
            &__div_port {
                display: flex;
                justify-content: space-between;
            }
            &__div_total {
                display: flex;
                justify-content: space-between;
            }
        }
        &__form {
            font-size: 1em;
        }
    }
}