/*reinitit link*/

a {
    text-decoration: none;
    color: black;
}

body {
    max-width: 1200px;
    margin: auto;
}


/*HEADER START*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: $clr_header_bg;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @include responsive_mobile_size {
        flex-direction: column;
        height: 250px;
        padding-top: 20px;
    }
    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: $mrg_header;
        @include responsive_mobile_size {
            flex-direction: column;
            margin: 0;
        }
        &:hover {
            text-decoration: none;
            color: black;
        }
        &__logo {
            height: 50px;
        }
        &__brand {
            margin-left: 20px;
            @include responsive_mobile_size {
                margin: 5px 0 0 0;
            }
        }
    }
    &__right {
        margin-right: $mrg_header;
        font-size: 1.5em;
        @include responsive_mobile_size {
            margin: 0;
        }
        &:hover {
            text-decoration: none;
            color: darken($color: $clr_header_bg, $amount: 60)
        }
    }
}


/*HEADER END*/


/*FOOTER START*/

.footer {
    height: 50px;
    background-color: $clr_header_bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &__legal {
        font-size: 0.7em;
    }
    &__sticky {
        position: sticky;
        bottom: 0;
    }
}


/*FOOTER END*/